<div class = "jumbotron">
 <h3 class = "heading-font" ><b><%= @note.title %></b></h3><hr>
  <p><h6 class = "date-description content-font"> <%= time_ago_in_words(@note.created_at) %> ago </p>
   <h5 class = "content-font"><%= @note.content %><h4>
     <p><br>
      <h6 class = "content-font">
      <% if (user_signed_in?) && (current_user.id == @note.user_id) %>
        <%= link_to "Back", "/" %>|
        <%= link_to "Edit", edit_note_path(@note) %>|
        <%= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </h5>
  </p>
</div>
